<html>
<head>
    <title>About Us - Aroha Cafe</title>
    <link rel="stylesheet" href="/public/css/aboutus.css">
</head>
<body>
    <%- include('partials/navbar2.ejs') %>
    <div class="about-section">
        <h1>About Us</h1>
        <p>Welcome to Aroha Cafe! We are passionate about serving the best coffee and creating a cozy atmosphere for our customers.</p>
    </div>
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="public/images/cup.png" alt="beanbag" style="width:100" >
                <div class="container">
                    <h2>Johsua Kim</h2>
                    <p class="title">Owner</p>
                    <p>Dedicated</p>
                    <p>joshua@aroha.co.nz</p>
                    <img src="public/images/bean.png" alt="beanbag" style="width:100" >
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="public/images/brew.png" alt="brew" style="width:100" >
                <div class="container">
                    <h2>Charlotte Kim</h2>
                    <p class="title">Coffee Barista</p>
                    <p>Creative</p>
                    <p>Charlotte@aroha.co.nz</p>
                    <img src="public/images/cup.png" alt="brew" style="width:100" >
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="public/images/cup.png" alt="cupcoffee" style="width:100" >
                <div class="container">
                    <h2>John Kim</h2>
                    <p class="title">Chef</p>
                    <p>Delicious</p>
                    <p>john@aroha.co.nz</p>
                    <img src="public/images/bean.png" alt="cupcoffee" style="width:100" >
                </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
<footer>
    <img src="public/images/cupcake.png" alt="cupcake" class="cupcake-icon">
    <p>&copy; 2024 Aroha Café | Designed with care.</p>
    </footer>
</html>
