<html>
    <head>
        <title>Add Menu Item</title>
        <link rel="stylesheet" href="/public/css/addmenu.css">
    </head>
    <body>
        <h2>Add Menu Item</h2>
        <form action="/admin/add-menu" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="description">Description:</label>
            <textarea id="decription" name="decription" required></textarea>
            <br>
            <label for="price">Price:</label>
            <input type="type" id="price" name="price" required>
            <br>
            <label for="category">Category:</label>
            <input type="type" id="category" name="category">
            <br>
            <button type="submit">Add Item</button>
        </form>
    </body>
    <footer>
        <img src="/public/images/coffee.png" alt="coffee" class="coffee-icon">
        <p>&copy; 2024 Aroha Café | Designed with care.</p>
    </footer>
</html>