<!-- views/adminlayout.ejs -->
<html>
<head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/public/css/dashboard.css">
</head>
<body>
    <header>
        <h1>Admin Aroha Cafe</h1>
        <a href="/special-event" id="logo">
            <img src="/public/images/logo.png" alt="Logo" class="logo">
        </a>
        <nav>
            <ul>
                <% navItems.forEach(function(item) { %>
                    <li><a href="<%= item.url %>"><%= item.name %></a></li>
                <% }); %>
                <!-- 중복된 Edit Menu 항목을 확인하고 제거 -->
            </ul>
        </nav>
    </header>
    <main>
        <%- body %>
        <img src="/public/images/admin.jpg" alt="admin">
    </main>
</body>
<footer>
    <img src="/public/images/draw.png" alt="arohacafe" class="coffee-icon">
    <a href="/mainhome">Customer</a>
    <p>&copy; 2024 Aroha Café | Designed with care.</p>
</footer>
</html>
