<html>
    <head>
        <title>Admin Login</title>
        <link rel="stylesheet" href="/public/css/adminlogin.css">
    </head>
    <body>
        <main>
            <h1>Admin Login</h1>
            <form action="/admin/login" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Login</button>
            </form>
            <img src="/public/images/login.jpg" alt="login">
        </main>
    </body>
    <footer>
        <img src="/public/images/draw.png" alt="arohacafe" class="coffee-icon">
        <p>&copy; 2024 Aroha Café | Designed with care.</p>
    </footer>       
</html>