<html>
    <head>
    <title>Contact Us - Aroha Cafe</title>
    <link rel="stylesheet" href="/public/css/contact.css">
</head>
<body>
    <%- include('partials/navbar1.ejs') %>
    <header>
        <h1>Aroha Cafe</h1>
    </header>
    <main>
        <div class="contact-form">
            <h2>Contact Us</h2>
            <form action="/contact" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
        <div class="contact-info">
            <h2>Aroha Cafe Contact Information</h2>
            <p>Address: futureskills ave Auckland City Auckland</p>
            <p>Phone: +64 021-123-1234</p>
            <p>Email: info@arohacafe.co.nz</p>
            <p>Opening Hours: 7:30am – 16:00pm</p>
            <p>Monday to Friday</p>
            <div id="map" style="height: 400px; width: 100%;"></div>
        </div>
    </main>
    <section class="icon">
        <img src="/public/images/pancake.png" alt="pancake" class="pancake-icon">
        <img src="/public/images/coffee.png" alt="pancake" class="pancake-icon">
    </section>
    <footer>
        <img src="/public/images/arohacafe.png" alt="arohacafe" class="coffee-icon">
        <p>&copy; 2024 Aroha Cafe. All</p>
        </footer>
        <script>
            function initMap() {
                var location = {lat: -36.8520239, lng: 174.7644089}; // 제공하신 주소에 맞춘 위치
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: location
                });
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }
        </script> 
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>       
</html>