<html>
<head>
     <title>Aroha cafe</title>
     <link rel="stylesheet" href="/public/css/home.css">
<%- include('partials/navbar1.ejs') %>
</head>
<body>
    <section class="home">
        <img src="/public/images/front.png" alt="drawing">
        <div class="home-text">
            <h1>Aroha cafe</h1>
        </div>
        </section>
        <section class="about">
            <img src="/public/images/logo.png" alt="aroha" class="coffee-icon">  
        </section>
    <footer>
        <p>&copy; 2024 Aroha Café | Designed with care.</p>
    </footer>
</body>
</html>