<html>
<head>
    <title>Aroha Café</title>
  <link rel="stylesheet" href="/public/css/mainhome.css">
</head>
<%- include('partials/navbar2.ejs') %>
<body>
   <section class="main">
       <img src="/public/images/cupcake.jpeg" alt="cupcake">
       <div class="main-text">
           <h1>Aroha Café</h1>
       </div>
   </section>
   <section class="about">
       <img src="/public/images/draw.png" alt="pour coffee" class="coffee-icon">
   </section>
   <footer>
       <p>&copy; 2024 Aroha Café | Designed with care.</p>
   </footer>
</body>
</html>