<head>
    <link rel="stylesheet" href="/public/css/menu.css">
</head>
<body>
    <%- include('partials/navbar2.ejs') %>
    <section class="coffee-menu">
        <div class="menu-image">
            <img src="/public/images/threecoffee.jpg" alt="coffees" class="food-img">
        </div>
        <div class="menu-content">
            <h2>Our Menu</h2>
            <% menus.forEach(menu => { %>
                <div class="menu-item">
                    <h3><%= menu.name %></h3>
                    <p><%= menu.description %></p>
                    <p>$<%= menu.price.toFixed(2) %></p>
                </div>
            <% }); %>
        </div>
    </section>
    <footer>
        <img src="/public/images/tool.png" alt="tool" class="coffee-icon">
        <p>&copy; 2024 Aroha Café | Designed with care.</p>
    </footer>
</body>
