<html>
<head>
    <title>Aroha Cafe Newsletter</title>
    <title>Aroha Café</title>
    <link rel="stylesheet" href="/public/css/newsletter.css">
</head>
<body>
    <div class="newsletter">
        <h2>Subscribe to our Newsletter</h2>
        <img src="/public/images/news.jpg" alt="news">
        <form id="newsletter-form">
            <label for="name">Name</label>
            <input type="name" id="name" name="name" required>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Subscribe</button>
        </form>
        <div>
            <a href="/">Home</a>
            <a href="/register">Register</a>
        </div>
        <p id="message"></p>
    </div>
</body>
</html>


