<head>
    <title>Message Received</title>
    <link rel="stylesheet" href="/public/css/reply.css">
</head>
<body>
    <div class="container">
        <h1>Message Received!</h1> 
        <p>I will respond to your email shortly.</p>
        <a href="/">Home</a>
        <img src="/public/images/logo.png" alt="aroha" class="coffee-icon">  
        </div>
</body>
<footer>
    <p>&copy; 2024 Aroha Café | Designed with care.</p>
</footer>
</html>