<html>
<head>
    <title>Aroha Cafe Special Event</title>
    <link rel="stylesheet" href="/public/css/special-event.css">
</head>
<body>
    <div class="container">
        <h1>Aroha Cafe Reward</h1>
        <a href="/">Go to Home</a>
        <img src="public/images/card.jpg" alt="Special Event" class="event-image">
        <div class="event-details">
            <p>Register and get a rewards card! Collect Aroha Rewards Points on all purchases, not just coffee. Drinks, meals, catering—you'll earn points on everything, getting you to rewards faster!</p>
            <p><strong>Location:</strong> futureskills ave Auckland City Auckland</p>
        </div>
    </div>
    <footer>
        <img src="public/images/cupcake.png" alt="cupcake" class="cupcake-icon">
        <p>&copy; 2024 Aroha Café | Designed with care.</p>
    </footer>
</body>
</html>
