<html>
<head>
    <title>Thank You</title>
    <link rel="stylesheet" href="/public/css/thanks.css">
</head>
<body>
    <div class="container">
        <h1>Thank You!</h1>
        <img src="/public/images/berry.jpg" alt="tool" class="image">
        <a href="/mainhome">Home</a>
        <p>We send out a monthly newsletter.</p>
    </div>
    <footer>
        <img src="public/images/arohacafe.png" alt="Aroha Cafe" class="coffee-icon">
        <p>&copy; 2024 Aroha Café | Designed with care.</p>
    </footer>
</body>
</html>