<html>
<head>
    <title>Welcome Member</title>
    <link rel="stylesheet" href="/public/css/youinmember.css">
</head>
<body>
    <section class="about">
        <h3>Welcome, <%= username %>!</h3>
        <p>You are now logged in as a member of Aroha Cafe</p>
        <img src="/public/images/fruit.jpg" alt="fruit" class="image">
        <a href="/menu2">View menu</a>
    </section>
    <footer>
        <img src="public/images/logo.png" alt="Aroha" class="coffee-icon">
        <p>&copy; 2024 Aroha Café | Designed with care.</p>
    </footer>
 </body>
 </html>
