/* login.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    font-family: Lexend Deca, sans-serif;
}

img {
    position: contain;
    top: 0;
    left: 0;
    width: 90%;
    height: 70%;
    object-fit: contain; 
    
}

.login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 1rem;
    color: #333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

.coffee-icon {
    height: 90px; 
    margin-right: 10px; 
    vertical-align: middle; 
 } 
 
 footer {
    color: black;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
 }
 