body {
    font-family: "Lavishly Yours", cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    color: darkslategray;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.contact-form, .contact-info {
    background: whitesmoke;
    padding: 1.5rem; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: 0 0.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: olive;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pancake-icon {
    height: 70px;
    margin-right: 10px;
    vertical-align: middle;
}

button:hover {
    background-color: #555;
}

.coffee-icon {
    height: 60px;
    margin-right: 10px;
    vertical-align: middle;
}

footer {
    color: black;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

