/* adminlayout.css */
body {
    font-family: Lexend Deca, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: pink;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 4rem;
}

nav ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: right;
    background-color: olive;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: olivedrab;
    border-radius: 4px;
}

.logo {
    height: 80px; /* Adjust size to fit your design */
    margin: 0 auto; /* Center the logo */
    display: block;
}

main {
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    margin: 1rem auto;
    width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: #333;
}

main .content {
    margin-top: 1rem;
}

img {
    position: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: contain; 
    
}

.coffee-icon {
    height: 90px; 
    margin-right: 10px; 
    vertical-align: middle; 
 } 
 
 a {
    color: lightcoral;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

 footer {
    color: black;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
 }
 