/* admin.css */

body {
    font-family:  Lexend Deca, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #333333;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: olive;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: pink;
}

a {
    text-decoration: none;
    color: lightcoral;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #777777;
    font-size: 0.9em;
}

img.coffee-icon {
    width: 50px;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #dddddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.coffee-icon {
    height: 90px; 
    margin-right: 10px; 
    vertical-align: middle; 
 }
 
 footer {
    color: black;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
 }
 