
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

.home {
    position: relative;
    height: 80vh; 
    width: 100vw; 
    overflow: hidden;
}

.home img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.home-text {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: right;
    color: green;
}

.home h1 {
    font-size: 20px;
    margin: 0;
    color: orangered;
}

.home p {
    font-size: 10px;
}

.about {
   display: flex;
   flex-direction: column; 
   align-items: center; 
   text-align: center; 
   padding: 20px;
}

.about-content {
   display: flex; 
   align-items: center; 
   justify-content: center; 
}

.coffee-icon {
   height: 90px; 
   margin-right: 10px; 
   vertical-align: middle; 
} 

footer {
   color: black;
   text-align: center;
   padding: 1px 0;
   position: fixed;
   width: 100%;
   bottom: 0;
}
