
body {
   font-family:"Lavishly Yours", cursive;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1.6;
}

.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: auto;
   padding: 20px;
}

/* 이미지 갤러리: 격자 스타일 */
.image-gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* 화면 크기에 따라 열 개수 조정 */
   gap: 10px; /* 이미지 사이 간격 */
   width: 100%;

}

.image-gallery img {
   width: 100%; /* 열 너비에 맞게 조정 */
   height: auto; /* 비율 유지 */
   border-radius: 8px; /* 부드러운 모서리 */
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

/* .main-text 중앙 배치 */
.main-text {
   text-align: center;
   color: palevioletred;
   z-index: 1; /* 텍스트가 다른 요소 위에 오도록 */
}

/* h1 스타일 */
.main-text h1 {
   font-size: 80px;
   margin: 0;
   width: fit-content; /* 글자 길이에 맞게 크기 조절 */
   display: inline-block;
   animation: typing 4s steps(30, end), blink-caret .75s step-end infinite;
   color: palevioletred;
}

/* 타이핑 애니메이션 */
@keyframes typing {
   from { width: 0; }
   to { width: 100%; }
}

@keyframes blink-caret {
   from, to { border-color: transparent; }
   50% { border-color: black; }
}

 
 .main-text h1 {
   font-size: 80px;
   margin: 0;
   color: palevioletred;
   width: fit-content; /* 글자 길이에 맞게 크기 조절 */
   display: inline-block;
   animation: typing 4s steps(30, end), blink-caret .75s step-end infinite;
 }
 
.main p {
   font-size: 30px;
}

/* About Section */
.about {
   display: flex;
   flex-direction: column; 
   align-items: center; 
   text-align: center; 
   padding: 20px; 
}

.about-content {
   display: flex; 
   align-items: center; 
   justify-content: center; 
}

.coffee-icon {
   height: 90px; 
   margin-right: 10px; 
   vertical-align: middle; 
}

footer {
   color: black;
   text-align: center;
   padding: 1px 0;
   position: fixed;
   width: 100%;
   bottom: 0;
}
