body {
    font-family: "Lavishly Yours", cursive;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
 }

.container {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h3 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 0px;
    background-color: lightpink;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 400%;
    max-width: 500px;
}
        
button hover {
background-color: olive;
}

h4 a {
    color: darkorange;
    text-decoration: none;
 }
 
 h4 a:hover {
    text-decoration: underline;
 }

.coffee-icon {
    height: 80px; 
    margin-right: 10px; 
    vertical-align: down; 
}

footer {
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

