body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.coffee-menu {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#category {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #343a40;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
}

.coffee-menu h2 {
    margin-top: 0;
    font-size: 2rem;
    color: #343a40;
}

.menu-image {
    width: 10%;
    height: 200px; /* 높이를 원하는 크기로 설정하세요 */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu-item {
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.menu-item h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #343a40;
}

.menu-item p {
    margin: 0.25rem 0;
    color: #6c757d;
}
.coffee-icon {
    height: 80px; 
    margin-right: 10px; 
    vertical-align: middle; 
}

footer {
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}