body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center; /* 모든 텍스트를 중앙 정렬 */
}

header {
    background-color: lightseagreen;
    color: white;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 20px;
}

.message {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: left;
    position: relative;
}

.message h3 {
    color: #333;
}

.message p {
    margin: 5px 0;
}


.message button {
    background-color: pink;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
}

.message button:hover {
    background-color: olive;
}

.coffee-icon {
    height: 40px; 
    margin-right: 10px; 
    vertical-align: down; 
    }
    
    footer {
    color: black;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    }
