
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f8f5f2;
    margin: 0;
    padding: 0;
}
h3 {
    color: #6b4f4f;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: #8b7d7b;
    font-family: 'Courier New', Courier, monospace;
}

a {
display: block;
margin: 10px 0;
padding: 10px 20px;
background-color: pink;
color: #fff;
text-decoration: none;
text-align: center;
border-radius: 4px;
transition: background-color 0.3s;
 }
        
a:hover {
background-color: darkkhaki;
}

.about {
   display: flex;
   flex-direction: column; 
   align-items: center; 
   text-align: center; 
   padding: 20px; 
}

.about-content {
   display: flex; 
   align-items: center; 
   justify-content: center; 
}
    .image {
    margin-top: 50px;
    width: 200%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

.coffee-icon {
    height: 40px; 
    margin-right: 10px; 
    vertical-align: down; 
    }

footer {
    color: black;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
